/*Google Fonts Import*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/*CSS Variables*/

:root {--primary-font:"Inter","sans-serif";
       --secondary-font:"Macondo","cursive";
       --primary-color:#3a2620; /*Dark Brown*/
       --secondary-color:#aa9581; /*Light Brown*/
       --highlight-color:#416a8e; /*Blue*/
       --highlight-color-light:#7a9fc2; /*Light Blue*/
}

/*General Styles*/

body {font-family:var(--primary-font);}

h1, h2, h3 {font-family:var(--secondary-font);
            color:var(--primary-color);
           
}

h1, h2{text-transform:uppercase;}

h2{margin-bottom:2rem;}

.sub-heading-color{color:var(--highlight-color)}

.section {margin-top: 2rem;
          margin-bottom: 2rem;
}


/*BUTTONS*/

.custom-button-filled{border:2px solid var(--highlight-color);
                      background-color:var(--highlight-color);
}

.custom-button-filled:hover{border:2px solid var(--secondary-color);
        background-color:var(--secondary-color);
}

.custom-button-outline{border:2px solid var(--highlight-color);
        background-color:white;
        color:var(--highlight-color);
}

.custom-button-outline:hover {border:2px solid var(--highlight-color);
        background-color:var(--highlight-color);
        color:white;
}

/*NAVBAR*/

#navbar{background-color: var(--primary-color);
        color:#ffffff;
}

#navbar .logo {width:35px;}


/*HEADER*/

#header .lead {font-family:var(--secondary-font);}

/*SERVICES*/

#services .card-footer {font-weight:bold;
                        color:var(--highlight-color);
                        background-color: transparent;
}

#services .card {margin-bottom:1rem;}

/*GAME LIBRARY*/

#new-games .card {margin-bottom:1.5rem;
                  border:none;
}

#fav-games .card {margin-bottom:1.5rem;
                  border:none;      
}


/*EVENTS*/




/*FOOTER / CONTACT*/

#contact {background-color:var(--primary-color);
          color:aliceblue;
          padding-bottom: 2rem;
}

#contact h2 {color:aliceblue;

}

#contact .sub-heading-color {color:var(--highlight-color-light);}

#contact i {color:var(--secondary-color);
            font-size:1.2rem;
            margin-right:10px;
            text-decoration-style: none;
}

#contact .social-links i {color:var(--highlight-color-light);
                        font-size: 1.9rem;
                        /*transition of colour when hovering over icons*/
                        transition: color 0.3s ease-in-out;
                        padding-bottom: 1rem;
}

#contact .social-links i:hover {color:white;
}



#open-times td, th {padding-right:50px;
                    padding-bottom:10px;
                  
}

#contact .table-dark * {background-color: var(--primary-color);}

            

/*Grid visualisation CSS for testing*/

/*.row, .container {border:1px solid black;}

.col-12 {border: 2px solid white;
         background-color:lightslategray;
}*/


/*Media Queries*/

/*Extra small screens - <568px*/

@media screen and (max-width:480px) {
        #event-times table {
                overflow-x: auto;
                display: block;
                font-size: 12px;
            }

#event-times table td { 
        word-wrap:normal;
    }

}

/*Med Screens - tablets - 768px upwards*/
@media screen and (min-width:768px) {

/*consistent heights for service cards*/
#services .card-body{min-height:190px;}        
        
}

/*Large Screens - 992 px upwards*/

@media screen and (min-width:992px) {

/*consistent text and footer spacing for service cards*/
#services .card-body{min-height:auto;}        
                
}

/*X Large Screens - 1200 px upwards*/

@media screen and (min-width:1200px) {

        /*consistent text and footer spacing for service cards*/
        #services .card-body{min-height:220px;}        

}

/*XX Large Screens - 1400 px upwards*/

@media screen and (min-width:1200px) {

        /*consistent text and footer spacing for service cards*/
        #services .card-body{min-height:200px;}        
                        
        }
        